# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
# You might have to increase this further if you allocate large stack variables in the main task
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Increase a bit these stack sizes as they are also a bit too small by default
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=4096

# You might have to increase this further if you spawn your own Rust threads 
# that allocate large stack variables; or better yet - use 
# `std::thread::Builder::new().stack_size(XXX)` for spawning
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096

# HTTP configurations
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=1024

# Keep RMT interrupts in fast internal RAM (IRAM) to prevent starvation during Wi-Fi flash access
CONFIG_RMT_ISR_IRAM_SAFE=y
CONFIG_ESP_SYSTEM_EVENT_TASK_PINNED_TO_CORE_1=y

# Max out the CPU Frequency
# Processes the RMT refill interrupts as fast as physically possible
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Move Wi-Fi Memory to IRAM
# Forces the Wi-Fi stack to use internal RAM instead of external Flash. 
# This prevents the Wi-Fi radio from disabling the Flash cache during network activity.
CONFIG_ESP_WIFI_IRAM_OPT=y
CONFIG_ESP_WIFI_RX_IRAM_OPT=y

# Increase FreeRTOS Tick Rate
# Gives the RTOS finer timing resolution for context switching
CONFIG_FREERTOS_HZ=1000